.OtherTherapyImg{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.OtherTherapyMainSec{
   padding: 60px 0px;
}

.OtherTherapyList{
    margin-top: 60px;
}