.AlliedHealthImg{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.AlliedHealthMainSec{
   padding: 100px 0px;
}

.AlliedHealthList{
    margin-top: 60px;
}

@media (max-width:768px){
    .AlliedHealthImg {
        width: -webkit-fill-available;
        height: 300px;
        border-radius: 20px;
    }

    .AlliedHealthMainSec {
        padding: 15px 0px;
    }
    .AlliedHealthTitle{
        text-align: center;
        padding-top:15px;
        font-size: 22px;
        font-weight: 700;
  color:#0b3948;
    }

    .AlliedHealthTextSec{
        padding:15px;
        text-align: justify;
    }

    .AlliedHealthContainer{
       display: flex;
        flex-direction: column;
    }
}