.MobilityImg{
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.MobilityImageSec{
    width: 100%;
    text-align: center;
}

.MobilityMainSec{
   padding: 100px 0px;
}

@media (max-width:768px){
    .MobilityImg {
        width: -webkit-fill-available;
        height: 350px;
        border-radius: 20px;
    }
    .MobilityTitle{
        font-weight: 700;
        color:#0b3948;
        padding-top: 15px;
        text-align: center;
    }
    .MobilityTextSec{
        padding:10px;
        text-align: justify;
    }
    .MobilityMainSec {
        padding: 30px 0px;
    }
}