.TransportAssistantImg{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.TransportAssistantMainSec{
   padding: 100px 0px;
}

.TransportAssistantList{
    margin-top: 60px;
}

@media (max-width:768px){
    .TransportAssistantImg {
        width: inherit;
        height: 350px;
        border-radius: 20px;
    }
    .TransportAssistantTitle{
        padding:20px;
    }
    .TransportAssistantMainSec {
        padding: 35px 0px;
    }

    .TransportAssistantMainSec {
        padding: 20px 0px;
    }

    .TransportAssistantList {
        margin-top: 10px;
    }

}