.SupportedIndependentImg{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.SupportedIndependentMainSec{
   padding: 60px 0px;
}

.SupportedIndependentList{
    margin-top: 60px;
}