.HomeModificationOldImg{
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.HomeModificationOldSec{
    width: 100%;
    text-align: center;
}

.HomeModificationOldSec{
   padding: 100px 0px;
}

@media (max-width:768px){
    .HomeModificationOldImg {
        width: -webkit-fill-available;
        height: 300px;
        border-radius: 20px;
    }
    .HomeModificationOldSubTitle{
     padding:20px;
    }
    .HomeModificationOldRightSec{
        padding:10px;
    }
    .HomeModificationOldTitle{
        color:#0b3948 !important;
        font-weight: 700;
        font-size: 1.6rem;
    }
}