.HomeModificationOldImg{
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.HomeModificationOldSec{
    width: 100%;
    text-align: center;
}

.HomeModificationOldSec{
   padding: 100px 0px;
}