.SpecialistAccommodationImg{
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.SpecialistAccommodationSec{
    width: 100%;
    text-align: center;
}

.SpecialistAccommodationSec{
   padding: 100px 0px;
}