.GetStartedMainSection{
  position: relative;
}

.OverlayImgSec{
  position: absolute;
  top: 350px;
  left: 490px;
}

.OverlayImgSec img{
  width: 552px !important;
  height: 210px;
}


.three-steps {
    max-width: 1200px;
  }
  
  .process-label {
    color: #0B4C61;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .steps-title {
    font-family: Recolata;
    font-size: 36px;
    font-weight: 700;
    color: #0F2B35;
  }
  
  .step-card {
    position: relative;
    padding-top: 25px;
  }
  
  .step-card h4 {
    font-size: 20px;
    color: #0B4C61;
    font-weight: 600;
  }
  
  .step-card p {
    font-size: 15px;
    color: #555;
    max-width: 260px;
    margin: 0 auto;
  }
  
  .step-number1 {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    border: 2px solid #0B4C61;
    color: #0B4C61;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 157px;
    left: 85%;
    transform: translateX(-50%);
  }

  .step-number2 {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    border: 2px solid #0B4C61;
    color: #0B4C61;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 315px;
    left: 52%;
    transform: translateX(-50%);
  }

  .step-number3 {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    border: 2px solid #0B4C61;
    color: #0B4C61;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 157px;
    left: 15%;
    transform: translateX(-50%);
  }



  
  /* Curved connector lines */
  @media (min-width: 768px) {
    .step-card {
      padding-bottom: 20px;
    }
  
    .steps-title {

      font-size: 25px !important;
      font-weight: 700;
      color: #185a72;
  }
    .col-md-4:last-child .step-card::after {
      display: none;
    }
  }
  