.testimonial-section {
  text-align: center;
}

.section-label {
  letter-spacing: 1px;
  color: #888;
  font-size: 13px;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #072227;
}

.section-title span {
  color: #f6c12b;
}

/* Card */
.testimonial-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: left;
  margin: 0 auto 25px;
  height: 100%;
}

.user-img-wrapper {
  border-radius: 0% 0% 50% 50%;
  border: 5px solid #0b3b46;
  background-color:#0b3b46;
}

.TestimonialImg{
  border-radius: 50%;
}

.stars {
  color: #f6c12b;
  font-size: 18px;
  margin-top: 4px;
}

.testimonial-text {
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.6;
  color: #444;
  text-align: justify;
}

/* Custom Carousel Arrows */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.custom-prev {
  left: -60px;
}

.custom-next {
  right: -60px;
}

.custom-prev:hover,
.custom-next:hover {
  background: #072227;
  color: white;
}

/* Remove default bootstrap arrows */
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .custom-prev { left: -20px; }
  .custom-next { right: -20px; }
  .testimonial-card { padding: 30px; }
}

@media (max-width: 768px) {
  .testimonial-card { padding: 25px; }
  .section-title { font-size: 28px; }
  .stars { font-size: 16px; }
}

@media (max-width: 768px) {
  .testimonial-card { 
    padding: 20px 50px;
    margin-bottom: 20px; /* spacing between one-by-one cards */
  }

  .custom-prev {
    left: -4px;
    height: 30px;
    width: 30px;
}

.custom-next {
  right: -5px;
  height: 30px;
    width: 30px;
   
}
  .testimonial-text {
    margin-top: 19px;
    font-size: 12px;
  }
  .section-title { font-size: 28px; text-align: center; }
  .stars { font-size: 16px; }
  .carousel-item .row { justify-content: center; } /* center single item */
}
