.DomesticOldImg{
    width: 500px;
    height: 600px;
    border-radius: 20px;
}
.DomesticOldTitle{
    color:#0b3948;
    font-weight: 700;
}

.DomesticOldImageSec{
    width: 100%;
    text-align: center;
}

.DomesticOldMainSec{
   padding: 100px 0px;
}

.DomesticOldTextSec{
    padding:100px;
}

@media (max-width:768px){
    .DomesticOldImg {
        width: -webkit-fill-available;
        height: 300px;
        border-radius: 20px;
    }

    .DomesticOldMainSec {
        padding: 30px 0px;
    }

    .DomesticOldTextSec {
        padding: 30px;
    }
    .DomesticOldLeftSec{
        padding:10px;
    }
}