.AlliedHealthOldImg{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.AlliedHealthOldMainSec{
   padding: 100px 0px;
}

.AlliedHealthOldList{
    margin-top: 60px;
}

@media (max-width:768px){
    .AlliedHealthOldImg {
        width: -webkit-fill-available;
        height: 300px;
        border-radius: 20px;
    }
    .AlliedHealthOldMainSec {
        padding: 10px 0px;
    }

    .AlliedHealthOldTitle{
        color:#0b3948;
        padding-top:20px ;
      font-weight: 700;
    }
    .AlliedHealthOldTextSec{
        padding:12px;
    }
    .AlliedHealthlist{
        flex-direction: column;
        padding:20px;
    }
   
}