.AlliedHealthOldImg{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.AlliedHealthOldMainSec{
   padding: 100px 0px;
}

.AlliedHealthOldList{
    margin-top: 60px;
}