:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  font-family: 'Stardom-Regular';
  src: url('/public/fonts/Stardom-Regular/Stardom-Regular.woff2') format('woff2'),
       url('/public/fonts/Stardom-Regular/Stardom-Regular.woff') format('woff'),
       url('/public/fonts/Stardom-Regular/Stardom-Regular.eot') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
