.TransportAssistantOldImg{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.TransportAssistantOldMainSec{
   padding: 50px 0px;
}

.TransportAssistantOldList{
    margin-top: 60px;
}

@media (max-width:768px){
    .TransportAssistantOldImg {
        width: -webkit-fill-available;
        height: 400px;
        border-radius: 20px;
    }

    .TransportAssistantOldTitle{
        text-align: center;
        padding-top:15px;
        font-size: 22px;
        font-weight: 700;
  color:#0b3948;
    }

    .TransportAssistantOldTextSec{
        padding:20px;
        text-align: justify;
    }

    .TransportAssistantOldMainSec {
        padding: 10px 0px;
    }
}