.TransportAssistantOldImg{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.TransportAssistantOldMainSec{
   padding: 50px 0px;
}

.TransportAssistantOldList{
    margin-top: 60px;
}