.ComunityOldImg{
    width: 500px;
    height: 600px;
   
}

.ImageSec{
    width: 100%;
    text-align: center;
}

.ComunityOldMainSec{
   padding: 100px 0px;
}

.ComunityOldTextSec2{
    padding:100px 50px;
}